

#settingsModal {
    position:relative;
    width: 30vw;
    height: 60vh;
    margin: 0 auto;
    background-color: lightgray;
    text-align:center;
    border: solid black;
    /*background-image: url("images/bulletholes.jpg");*/
    color:darkred;
}

.modal_header {
    text-align: center;
}

.modal_body {
    margin: 0 auto;
}

.gametype {
    font-size:20px;
    color: darkred;
}
