body {
    height: 90vh;
    width: 90vw;
    position: relative;


}

#gameboard {
    position: relative;
    display: inline-block;
    height: 600px;
    width: 600px;
    background-color: red;
    left: 50%;
    transform: translate(-50%);
    top: 15vh;
    font-size: 0;
}
#gameboard > * {
    font-size: 100px;
}
.threebythreebox {
    display: inline-block;
    height: 33.3%;
    width: 33.3%;
    text-align: center;
}

.fourbyfourbox {
    display: inline-block;
    height: 25%;
    width: 25%;
    text-align: center;
}

/*BUTTON ONLY DELETE*/
button {
    position: relative;
    display: inline-block;
}

/*MODAL SETTINGS*/
.modal-content {
    background-color: lightslategrey;
    font-size: 2em;
    font-family: Georgia, Arial;
    height: 60vh;
    text-align: center;

}

.modal-header {
    text-align: center;
    text-shadow: 3px 3px 5px white;
    font-weight: bold;
}

.modal-body {
    color:black;
}

.modal-footer  {
    text-align: left;
}